{#{% extends 'base.html' %}#}
<ul class="nav">
    <li><a href="{% url 'liberty_market:home_page' %}">Home</a></li>
    <li><a href="{% url 'liberty_market:explore_page' %}">Explore</a></li>
    <li><a href="{% url 'liberty_market:item_details' 1 %}">Item Details</a></li>
    <li><a href="{% url 'liberty_market:author' %}">Author</a></li>

    {% if request.user.is_authenticated %}
        <li><a href="{% url 'liberty_market:create_item' %}">Create Yours</a></li>
        {#                            <li><a class="nav-item nav-link" href="{% url 'blog:user-profile' request.user.username %}">Profile</a></li>#}
        <li><a class="nav-item nav-link" href="{% url 'liberty_market:logout' %}">Logout</a></li>
    {% else %}
        <li><a class="nav-item nav-link" href="{% url 'liberty_market:login' %}">Login</a></li>
        <li><a class="nav-item nav-link" href="{% url 'liberty_market:register' %}">Register</a>
        </li>
    {% endif %}

</ul>
{#{% block body %}#}
    
    <br>
    <br>



    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2>Create item</h2>
                <form action="{% url 'liberty_market:create_item' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>
        </div>
    </div>

{#{% endblock %}#}