{% extends 'base.html' %}
{#{% load check_item_like %}#}
{% block body %}
    <!-- ***** Header Area End ***** -->

    <div class="page-heading normal-space">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h6>Liberty NFT Market</h6>
                    <h2>View Item Details</h2>
                    <span>Home > <a href="{% url 'liberty_market:home_page' %}">Item Details</a></span>

                </div>
            </div>
        </div>
    </div>

    <div class="item-details-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <div class="line-dec"></div>
                        <h2>View Details <em>For Item</em> Here.</h2>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="left-image">
                        <img src="{{ item.image.url }}" alt="" style="border-radius: 20px;">
                    </div>
                </div>
                <div class="col-lg-5 align-self-center">
                    <h4>{{ item.title }}</h4>
                    <span class="author">
            <img src="{{ item.image.url }}" alt="" style="max-width: 50px; border-radius: 50%;">
            <h6>{{ item.author.first_name }} {{ item.author.first_name }}<br><a href="#">@{{ item.author.username }}</a></h6>
          </span>
                    <p>{{ item.description }}</p>
                    <div class="row">
                        <div class="col-3">
              <span class="bid">
                Current Bid<br><strong>{{ item.price }} ETH</strong><br>
              </span>
                        </div>
                        <div class="col-4">
              <span class="owner">
                Owner<br><strong>{{ item.owner_full_name }}</strong><br><em>(@{{ item.owner_user_name }})</em>
              </span>
                        </div>
                        <div class="col-5">
              <span class="ends">
                Ends In<br><strong>{{ item.ends_in }}</strong><br>
              </span>
                        </div>
                    </div>

                    <a href="{% url 'liberty_market:order_page' item.id %}">
                        <button type="submit" id="form-submit" class="main-button">Order</button>


                        <br>
                        <br>
                        <br>
                        {#                        {% if request.user.is_authenticated %}#}
                        {##}
                        {#                            {% if opinion|check_like:request.user %}#}
                        {#                                <i class="fa-solid fa-heart"></i>#}
                        {#                            {% else %}#}
                        {#                                <i class="fa-regular fa-heart"></i>#}
                        {##}
                        {#                            {% endif %}{{ opinion.like_count }}#}
                        {#                        {% else %}#}
                        {#                            <i class="fa-regular fa-heart"></i>#}
                        {#                        {% endif %}#}


                    </a>
                </div>
            </div>
        </div>

        <div class="create-nft">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="section-heading">
                            <div class="line-dec"></div>
                            <h2>Create Your NFT & Put It On The Market.</h2>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="main-button">
                            <a href="create.html">Create Your NFT Now</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="item first-item">
                            <div class="number">
                                <h6>1</h6>
                            </div>
                            <div class="icon">
                                <img src="assets/images/icon-02.png" alt="">
                            </div>
                            <h4>Set Up Your Wallet</h4>
                            <p>There are 5 different HTML pages included in this NFT <a
                                    href="https://templatemo.com/page/1" target="_blank" rel="nofollow">website
                                template</a>. You can edit or modify any section on any page as you required.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="item second-item">
                            <div class="number">
                                <h6>2</h6>
                            </div>
                            <div class="icon">
                                <img src="assets/images/icon-04.png" alt="">
                            </div>
                            <h4>Add Your Digital NFT</h4>
                            <p>If you would like to support our TemplateMo website, please visit <a rel="nofollow"
                                                                                                    href="https://templatemo.com/contact"
                                                                                                    target="_parent">our
                                contact page</a> to make a PayPal contribution. Thank you.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="item">
                            <div class="icon">
                                <img src="assets/images/icon-06.png" alt="">
                            </div>
                            <h4>Sell Your NFT &amp; Make Profit</h4>
                            <p>NFT means Non-Fungible Token that are used in digital cryptocurrency markets. There are
                                many different kinds of NFTs in the industry.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright © 2022 <a href="#">Liberty</a> NFT Marketplace Co., Ltd. All rights reserved.
                            &nbsp;&nbsp;
                            Designed by <a title="HTML CSS Templates" rel="sponsored" href="https://templatemo.com"
                                           target="_blank">TemplateMo</a></p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Scripts -->
        <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

        <script src="assets/js/isotope.min.js"></script>
        <script src="assets/js/owl-carousel.js"></script>

        <script src="assets/js/tabs.js"></script>
        <script src="assets/js/popup.js"></script>
        <script src="assets/js/custom.js"></script>
        </body>
        </html>

{% endblock %}